* {
    margin: 0;
    padding: 0;
}

body {
    background: radial-gradient(circle, rgba(255,195,160,1) 0%, rgba(255,175,189,1) 100%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    height: 800px;
    width: 420px;
    margin: 5%;
    background: rgb(33,33,33,255);
    border-radius: 40px;
    box-shadow: 0px 15px 5px 5px rgb(44, 44, 44);
    display: flex;
    flex-direction: column;
}

.screen {
    height: 150px;
    width: 370px;
    margin: auto;
    border-radius: 10px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    color: white;
}

.input-cont {
    height: 70px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    position: relative;
}

.input {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    font-size: 20px;
    font-family: 'Poiret One', sans-serif;
}

.answer-cont {
    height: 80px;
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    position: relative;
}

.answer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
    font-size: 50px;
    font-family: 'Poiret One', sans-serif;
}



.buttons-cont {
    height: 480px;
    width: 370px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 26px;   
}

.button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: rgb(33,33,33,255);
    color: white;
    box-shadow:  0px 5px 10px 0px rgb(10, 10, 10);
    font-size: large;
    font-family: 'Poiret One', sans-serif;
}

.zero {
    width: 166px;
    border-radius: 50px;
}

.operation {
    color: rgba(255,136,35,255);
}

.equal {
    background: rgba(255,136,35,255);
}